nav {
  background: $bg_color;
  margin-bottom: 20px;
  padding: 15px 5px;
  & > ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 10px;
    & > li {
      & > a {
        text-decoration: none;
        color: $text_color;
        &:hover {
          color: $info_color;
        }
      }
    }
  }
}
